@use '../abstracts/' as *;
@use './typography' as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  // media queries
  @include respond(phone) {
    & {
      font-size: 50%;
    }
  }

  @include respond(tab-p) {
    & {
      font-size: 55%;
    }
  }

  @include respond(tab-l) {
    & {
      font-size: 60%;
    }
  }

  @include respond(big-desk) {
    & {
      font-size: 65%;
    }
  }
}

body {
  position: relative;
  background-color: var(--color-bg);
  box-sizing: border-box;
  font-family: var(--main-font);
  //   padding: 2rem;
  // height: 150rem;
  transition: background-color 0.15s;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  @include absoluteCenter;
  width: 100vw;
  height: 100%;
  // background-color: var(--color-bg-offset);
  background-color: var(--color-bg);
  z-index: -1;
  // box-shadow: 0px 2rem 2rem -2rem rgba(13, 43, 90, 0.08);
  // background: url('./../images/pattern.jpg');

  // &:not(:last-child) {
  //   margin-bottom: 5rem;
  // }
}

.divider {
  width: 100%;
  height: 20rem;
  background-color: var(--color-bg-offset);
  // margin-bottom: 2rem;
}
.divider__curved--home {
  clip-path: url(#myCurve);
}
.divider__curved--contact {
  clip-path: url(#myCurveContact);
}
.divider__curved--about {
  clip-path: url(#myCurveAbout);
}
// #wave-bottom {
//   position: relative;
//   top: 50%;
// }
