@use "../abstracts/" as *;
@use "../base/" as *;
// CV button
.btn-wrapper {
  text-align: center;
}

.about-section {
  // margin-top: -3rem;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    &--pair {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .additional__info {
        min-height: 15rem;
        padding: 1rem;
        color: var(--color-text);
        color: #fff;
        border-radius: 2rem;
        width: 100%;
        background-color: var(--color-secondary);
        margin: 3rem 0;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);

        &--title {
          font-size: var(--font-normal);
          font-style: italic;
          font-weight: bold;
          text-align: center;
          margin-bottom: 1rem;
          letter-spacing: 0.5px;
        }

        &--span {
          font-style: normal;
          margin: 0 0.5rem;
        }

        &--para {
          font-size: var(--font-normal);
          margin: 1rem 0;
          text-align: center;
        }

        &--link {
          text-align: center;
        }
      }
    }

    &--middle {
      flex-direction: row-reverse;
    }

    &--left {
      width: 50%;

      .about-subtitle {
        font-size: var(--font-l);
        color: var(--color-text);
        font-style: italic;
      }
      // redundant ???
      .left-intro {
        // width: 50%;
        // redundant ???
        &__para {
          color: var(--color-text);
          font-size: var(--font-normal);
          width: 100%;
          text-align: justify;
          margin: 2rem 0;
        }
      }

      .left-skills {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 3rem 0;

        &__para {
          color: var(--color-text);
          font-size: var(--font-normal);
          width: 100%;
          text-align: justify;
          margin: 2rem 0 4rem;
        }

        .skills {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: space-between;

          .skill-icon {
            display: block;
            width: 5rem;
            height: 5rem;

            &-svg {
              width: 100%;
              height: 100%;
            }
          }
          // outer - skill bar
          .skill-bar {
            width: 80%;
            height: 1rem;
            background-color: var(--color-bg-offset);
            border-radius: 0.5rem;
            display: flex;
            align-items: center;

            // inner - skill bar
            &-inner {
              // width is set separately for each skill;
              height: 5px;
              background-color: var(--color-primary);
              border-radius: 0.5rem;
              margin-left: 2px;
            }
          }
        }
      }

      .about__personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 3rem auto 5rem;

        &--ul {
          margin-left: 1rem;
          list-style: disc;
          & li {
            font-size: var(--font-normal);
            color: var(--color-text);
            margin: 1rem 0;
            text-align: justify;

            & a {
              text-decoration: underline;
              font-style: italic;
              color: var(--color-primary);
              margin: 0 0.5rem;
            }
          }
        }
      }
    }

    &--right {
      width: 50%;

      .right-intro__img {
        text-align: right;
      }

      .collage {
        width: 90%;
        margin-left: 5rem;
        transform: rotate(3deg);
        outline: 0.5rem solid var(--color-primary);
        outline-offset: 0.4rem;
        border-radius: 0.5rem;
        transition: all 0.2s ease-in;
        cursor: pointer;
      }

      .collage:hover {
        transform: rotate(0deg);
      }
    }

    .right-skills {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .cert-title__link {
        font-size: var(--font-normal);
        color: var(--color-text);
        text-decoration: underline;
      }

      .certificate {
        width: 35%;

        &__img {
          width: 100%;
          outline: 0.5rem solid var(--color-primary);
          outline-offset: 0.5rem;
          border-radius: 0.4rem;
          transition: transform 0.2s ease-in;

          &:hover {
            transform: scale(1.03);
          }
          // display: block;
        }
      }
    }
  }

  @include respond(phone) {
    & {
      // empty
      &__content {
        // empty
        &--pair {
          flex-direction: column;
        }

        &--left {
          width: 100%;
          margin-bottom: 2rem;
        }

        &--right {
          width: 100%;

          .right-intro__img {
            text-align: center;

            .blob2 {
              width: 55%;
              align-self: flex-start;
            }
          }

          .right-skills {
            flex-direction: column;

            .cert-title__link {
              display: block;
              margin-bottom: 3rem;
              font-size: var(--font-l);
            }

            .certificate {
              width: 80%;
              // background-color: chartreuse;
              // display: flex;
              // align-items: center;
              // justify-content: center;

              &__img {
                // width: 100%;
                // outline: 0.5rem solid var(--color-primary);
                // outline-offset: 0.5rem;
                // border-radius: 0.4rem;
                // transition: transform 0.2s ease-in;

                &:hover {
                  transform: scale(1.01);
                }
              }
            }
          }
          .collage {
            display: block;
            margin: auto;
            width: 95%;
            transform: rotate(0deg);
            outline: 0.5rem solid var(--color-primary);
            outline-offset: 0.4rem;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
  @include respond(tab-p) {
    & {
      // empty
      &__content {
        // empty
        // &--pair {
        //   // flex-direction: column;
        // }

        &--left {
          width: 100%;
          margin-bottom: 2rem;
        }

        &--right {
          width: 100%;

          .right-intro__img {
            text-align: center;

            .blob2 {
              width: 80%;
              align-self: flex-start;
            }
          }

          .right-skills {
            flex-direction: column;

            .cert-title__link {
              display: block;
              margin-bottom: 3rem;
              font-size: var(--font-l);
            }

            .certificate {
              width: 60%;
              // background-color: chartreuse;
              // display: flex;
              // align-items: center;
              // justify-content: center;

              &__img {
                // width: 100%;
                // outline: 0.5rem solid var(--color-primary);
                // outline-offset: 0.5rem;
                // border-radius: 0.4rem;
                // transition: transform 0.2s ease-in;

                &:hover {
                  transform: scale(1.01);
                }
              }
            }
          }
          .collage {
            display: block;
            margin: auto;
            width: 75%;
            transform: rotate(0deg);
            outline: 0.5rem solid var(--color-primary);
            outline-offset: 0.4rem;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }

  @include respond(tab-l) {
    & {
      // empty
      &__content {
        // empty

        &--left {
          width: 100%;
          margin-bottom: 2rem;
        }

        &--right {
          width: 100%;

          .right-intro__img {
            text-align: center;

            .blob2 {
              width: 80%;
              align-self: flex-start;
            }
          }

          .right-skills {
            flex-direction: column;

            .cert-title__link {
              display: block;
              margin-bottom: 3rem;
              font-size: var(--font-l);
            }

            .certificate {
              width: 60%;
              // background-color: chartreuse;

              &__img {
                // empty

                &:hover {
                  transform: scale(1.01);
                }
              }
            }
          }
          .collage {
            display: block;
            margin: auto;
            width: 75%;
            transform: rotate(3deg);
            outline: 0.5rem solid var(--color-primary);
            outline-offset: 0.4rem;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}
