@use "../abstracts/" as *;
@use "../base/" as *;

.contact-section {
  position: relative;

  &__content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .info {
      width: 50%;

      &-div {
        margin-bottom: 3rem;
      }

      &-p {
        font-size: var(--font-normal);
        color: var(--color-text);
      }
    }

    .uil,
    .fa-solid {
      display: block;
      font-size: var(--font-normal);
      color: var(--color-primary);
      margin-bottom: 0.5rem;
    }
  }

  .form {
    width: 70%;
    margin: 0 0 2rem;

    &__label {
      margin-bottom: 1rem;
      color: var(--color-text);
      font-size: var(--font-normal);
    }

    &__input {
      padding: 1rem;
      font-family: "Poppins", sans-serif;
      font-size: var(--font-l);
    }

    &__mini-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  .contact__footer {
    .footer__lower {
      background-color: var(--color-bg);
      text-align: center;
      width: 100%;
      height: 5rem;
      display: grid;
      place-content: center;
      color: var(--color-text);
      margin-top: 3rem;
      border-radius: 2px;
    }
    // background-color: var(--color-bg-offset);
    // border-bottom: 1px solid var(--color-bg-offset);
  }

  @include respond(phone) {
    &__content {
      flex-direction: column;
    }

    .form {
      width: 100%;
    }
  }
}
