@use "../abstracts/" as *;
@use "../base/" as *;

.home {
  position: relative;
  // margin-top: 15rem;
  // margin-bottom: 15rem;
  margin: 17rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // background-color: lightgoldenrodyellow;

  &__main-h1 {
    // margin-top: 2rem;
    // background-color: aqua;
    width: 60%;
    &--small,
    &--big {
      display: block;
      font-weight: 400;
    }

    &--small {
      text-transform: uppercase;
      color: var(--color-primary);
      font-size: var(--font-l);
      animation: moveInLeft 1s ease-out;
    }

    &--big {
      color: var(--color-text);
      font-weight: 400;
      font-size: var(--font-xxl);
      animation: moveInRight 1s ease-out;
    }
  }

  &__main-image {
    // background-color: brown;
    width: 43rem;
    // width: 40%;
    // height: 43rem;
  }

  .main__blob {
    width: 100%;
  }

  @include respond(phone) {
    & {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 12rem;
      margin-bottom: 4rem;
    }
    &__main-h1 {
      margin-bottom: 5rem;
      width: 100%;
    }

    &__main-image {
      // margin-top: 2rem;
      align-self: flex-start;
    }
  }

  @include respond(tab-p) {
    & {
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      // margin-bottom: 7rem;
      // background-color: aqua;
    }

    &__main-h1 {
      // margin-bottom: 6rem;
      width: 100%;
      // background-color: olivedrab;
      &--big {
        font-size: var(--font-xl);
      }
    }
    &__main-image {
      // background-color: burlywood;
      width: 48rem;

      // .main__blob {
      //   // display: block;
      // }
    }
  }
  @include respond(tab-l) {
    & {
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20rem;
      background-color: aqua;
    }

    &__main-h1 {
      // margin-bottom: 6rem;
      width: 100%;
      background-color: olivedrab;
      &--big {
        font-size: var(--font-xxl);
      }
    }
    &__main-image {
      background-color: burlywood;
      width: 50rem;

      // .main__blob {
      //   // display: block;
      // }
    }
  }
}
