@use "../abstracts/" as *;
@use "../base/" as *;

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;

  &__text {
    font-size: var(--font-normal);
    margin-bottom: 2rem;
    color: var(--color-text);
  }
}
