@use "../abstracts/" as *;
@use "../base/" as *;

.projects-section {
  position: relative;
  // margin-top: -5rem;
  // margin-bottom: 3rem;

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;

    .subtitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem auto 2rem;

      &-text {
        font-size: var(--font-normal);
        color: var(--color-text);
        margin-bottom: 2rem;
      }

      &-icon__wrapper {
        display: flex;
      }

      &-icon {
        width: 3rem;
        height: 3rem;
      }

      &-icon:not(:last-child) {
        margin-right: 2rem;
      }

      .tech-icons {
        width: 100%;
        height: 100%;
      }
    }
  }

  .frame {
    margin-bottom: 3rem;
  }

  .frame,
  .frame__advanced {
    width: 100%;
    min-height: 50rem;
    position: relative;
    overflow: hidden;
    // margin-bottom: 2rem;
    // background: var(--color-bg-offset);

    .frame-arrow__left,
    .frame-arrow__left--advanced,
    .frame-arrow__right,
    .frame-arrow__right--advanced {
      position: absolute;
      cursor: pointer;
      color: var(--color-text);
      transition: color 0.2s;
      z-index: 100;
    }

    .frame-arrow__left,
    .frame-arrow__left--advanced {
      top: 50%;
      left: 0;

      &:hover {
        color: var(--color-primary);
      }
    }

    .frame-arrow__right,
    .frame-arrow__right--advanced {
      top: 50%;
      right: 0;

      &:hover {
        color: var(--color-primary);
      }
    }

    .dots-container,
    .dots-container__advanced {
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
    }
    .dot,
    .dot__advanced {
      display: block;
      width: 1rem;
      height: 1rem;
      background: var(--color-text);
      border-radius: 50%;
      margin: 0 0.6rem;
      opacity: 0.3;
    }

    .dot:hover,
    .dot__advanced:hover {
      cursor: pointer;
    }

    .dot-active,
    .dot-active__advanced {
      opacity: 0.7;
    }
  }

  .project__advanced {
    flex-direction: row-reverse;
  }

  .project,
  .project__advanced {
    width: 100%;
    border-radius: 1rem;
    transition: all 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10rem;

    &-left,
    &-left__advanced,
    &-right,
    &-right__advanced {
      width: 48%;
    }

    &-left {
      padding-left: 5rem;
    }

    // fliped to row-reverse, so padding adjustment is needed
    &-left__advanced {
      padding-right: 5rem;
    }

    &-left__image-container,
    &-left__image-container--advanced {
      max-width: 100%;
      transition: all 0.2s;
      position: relative;
    }

    &-left__image-container:hover {
      box-shadow: 0px 1rem 1rem -1rem rgba(13, 43, 90, 0.18);
    }

    &-left__image-container--advanced:hover {
      box-shadow: 0px 1rem 1rem -1rem rgba(13, 43, 90, 0.18);
    }

    &-left__image,
    &-left__image--advanced {
      width: 100%;
      border-radius: 0.5rem;
      border: 1px solid var(--color-text);
      cursor: pointer;
    }

    &-right {
      padding-right: 5rem;
    }

    // fliped to row-reverse, so padding adjustment is needed
    &-right__advanced {
      padding-left: 5rem;
    }

    &-right,
    &-right__advanced {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__title--advanced {
        text-align: right;
      }
      &__title,
      &__title--advanced {
        font-size: var(--font-l);
        color: var(--color-text);
      }

      &__container--advanced {
        justify-content: flex-end;
      }

      &__container,
      &__container--advanced {
        display: flex;
        align-items: center;
        margin: 2rem 0;

        &-link,
        &-link--advanced {
          font-size: var(--font-normal);
          color: var(--color-text);
          border-bottom: 2px solid var(--color-primary);
        }
      }

      &__demo,
      &__demo--advanced {
        margin-right: 5rem;
      }
      &__description--advanced {
        text-align: justify;
      }
      &__description,
      &__description--advanced {
        color: var(--color-text);
        font-size: var(--font-normal);
      }
    }
  }

  @include respond(phone) {
    & {
      margin-bottom: 3rem;

      .frame,
      .frame__advanced {
        // by increasing height of a frame div,
        // description text remains visible on small screens
        min-height: 65rem;

        .dots-container,
        .dots-container__advanced {
          top: 98%;
        }
      }

      .project,
      .project__advanced {
        flex-direction: column;
        top: 8rem;

        &-right {
          padding-right: 0;
          width: 70%;
        }
        &-left {
          padding-left: 0;
          width: 70%;
        }
        &-left__advanced {
          padding-right: 0;
          width: 70%;
        }
        &-right__advanced {
          padding-left: 0;
          width: 70%;
        }
      }
    }
  }

  @include respond(tab-p) {
    & {
      margin-bottom: 2.5rem;

      .frame,
      .frame__advanced {
        // by increasing height of a frame div,
        // description text remains visible on small screens
        min-height: 65rem;

        .dots-container,
        .dots-container__advanced {
          top: 98%;
        }
      }

      .project,
      .project__advanced {
        flex-direction: column;
        top: 8rem;

        &-right {
          padding-right: 0;
          width: 70%;
        }
        &-left {
          padding-left: 0;
          width: 70%;
        }
        &-right__advanced {
          padding-left: 0;
          width: 70%;
        }
        &-left__advanced {
          padding-right: 0;
          width: 70%;
        }
      }
    }
  }
}
