@use '../abstracts/' as *;
@use '../base/' as *;

.btn__cv {
  background: var(--color-primary);
  font-size: var(--font-normal);

  &:hover {
    background: var(--color-primary-offset);
    color: var(--color-bg);
  }
}
