@use "../abstracts/" as *;
@use "../base/" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // border-top: 2px solid var(--color-bgd-offset);
  // margin-bottom: 3rem;

  &__home {
    margin-bottom: 3rem;
  }

  &__upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__social-icons {
    display: flex;
    align-items: center;
  }

  &__codewars {
    // background: #000;
  }

  &__codewars--img {
    width: 53%;
    display: block;
    // margin-left: auto;
  }

  .fab {
    color: var(--color-text);
    margin-right: 2rem;
    transition: color 0.2s;
  }

  .fab:hover {
    color: var(--color-primary);
  }

  &__scroll {
    display: flex;
    align-items: center;
    margin-right: 5rem;

    &--p {
      font-size: var(--font-normal);
      color: var(--color-text);
      margin: 0 2rem;
    }

    .fa-solid {
      color: var(--color-text);
      font-size: var(--font-normal);
    }

    .fa-computer-mouse {
      color: var(--color-primary);
    }

    &--next:active {
      transform: translateY(3px);
    }
  }

  &__cv-button {
    font-size: var(--font-normal);
  }

  &__languages--english-flag,
  &__languages--serbian-flag {
    margin: 0 1rem;
    height: 2.5rem;
    border-radius: 5%;
  }

  &__lower {
    &-licence {
      font-size: var(--font-small);
      color: var(--color-bgd-offset);
    }

    &-copy {
      color: var(--color-text-offset);
      font-size: var(--font-normal);
      margin: 0 1rem;
      // text-align: center;
    }
  }

  @include respond(phone) {
    // &__upper {
    // flex-direction: column-reverse;
    // align-items: flex-start;
    // margin-left: 3rem;
    // }

    &__scroll {
      margin-right: 0rem;
      display: none;
    }
  }
  @include respond(tab-p) {
    // &__upper {
    // flex-direction: column-reverse;
    // }

    &__scroll {
      margin-right: 0rem;
      display: none;
    }
  }
}
